
.body{
    -fx-background-color: #F0F8FF;
}
.container {
    -fx-font-family: "Roboto Light";
}

.button {
    -fx-background-color: #003366;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0, 8);
    -fx-background-radius: 8;
}

.radius {
    -fx-background-radius: 8;
}
