.container {
    -fx-font-family: "Roboto Light";
    -fx-background-color: #F0F8FF;

}
.container TextField {
    -fx-background-radius: 5;

}

.container PasswordField {
    -fx-background-radius: 5;
}

.button {
    -fx-background-color: #003366;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0, 8);
    -fx-background-radius: 10;

}
.boarder {
    -fx-background-radius: 1;
}

.button:hover {
    -fx-cursor: hand;
}

.Label {
    -fx-fill: #0000ff;
}
.Label:hover {
    -fx-cursor: hand;
}
